# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled User Define
.svn
*.pdb
*.ilk
*.obj
*.tlog
*.user
*.ncb
*.aps
*.sdf
*.opensdf
*.pch
*.ipch
*.log
*.suo

*.cache
*.exp

Release
Debug

obj
bin
*.lastbuildstate
*.idb
*.intermediate.manifest
*.embed.manifest
*.unsuccessfulbuild
