<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OptsRightsEdit.Properties.Settings.MCSConnectionString"
            connectionString="Data Source=HL-20121109HRYV\AMHS;Initial Catalog=MCS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>