# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled User Define
.svn
*.pdb
*.ilk
*.obj
*.tlog
*.user
*.ncb
*.aps
*.sdf
*.opensdf
*.pch
*.ipch
*.log
*.suo
obj
bin
*.cache
*.exp
*.filters
/src/obj
Release
Debug
