USE [master]
GO
/****** Object:  Database [MCS]    Script Date: 07/29/2012 09:56:24 ******/
CREATE DATABASE [MCS] ON  PRIMARY 
( NAME = N'MCS', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.AMHS\MSSQL\DATA\MCS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MCS_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.AMHS\MSSQL\DATA\MCS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MCS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MCS]
GO
/****** Object:  Table [dbo].[TransCommand]    Script Date: 07/29/2012 09:56:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransCommand](
	[Command] [nchar](10) NULL,
	[PosFrom] [int] NULL,
	[PosTo] [int] NULL,
	[FoupID] [int] NULL
) ON [PRIMARY]
GO
